html, body, #app {
    height: 100%;
    overflow: hidden;
}

.leaflet-container {
    background: var(--bs-body-bg);
    outline: none;
}

.leaflet-image-layer,
.leaflet-tile {
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}

.pubg-grid-line {
    filter: drop-shadow(0 0 1px rgba(0, 0, 0, 0.5));
}

.pubg-grid-subline {
    stroke-dasharray: 2 3;
}

.secret-room-marker {
    background: transparent;
    border: 2px solid var(--bs-danger);
}

.pubg-grid-label {
    color: var(--bs-body-color);
    pointer-events: none;
    user-select: none;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    padding: 1rem;
}
